Checks: '-*,
  cppcoreguidelines-*,
  modernize-*,
  performance-*,
  readability-*,
  bugprone-*,
  misc-*,
  -modernize-use-trailing-return-type,
  -readability-uppercase-literal-suffix,
  -cppcoreguidelines-avoid-magic-numbers,
  -readability-magic-numbers,
  -readability-convert-member-functions-to-static,
  -readability-identifier-length,
  -misc-include-cleaner,
  '
HeaderFilterRegex: '^(src|tests)/.*'
WarningsAsErrors: ''
FormatStyle: none